.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  background-color: #f8f3ed;
}

.header {
  position: absolute;
  top: 20px;
  left: 20px;
}

.brand-name {
  color: #261709;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
}

.content {
  background-color: #fff;
  border-radius: 40px;
  position: relative;
  overflow: hidden;
  width: 50vw;
  min-height: 480px;
  max-width: 100%;
  margin: 0;
}

.btn-register {
  background-color: #261709;
  color: #fff;
  padding: 10px 10px;
  border: 2px solid #fff; /* Add white border */
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
}

.btn-login {
  background-color: #261709;
  color: #fff;
  padding: 10px 10px;
  border: 2px solid #fff; /* Add white border */
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
}

.btn-register:hover, .btn-login:hover {
  background-color: #261709;
}

.header-text h1, .forgot a {
  color: #261709;
}

.right-box {
  padding: 40px 30px 40px 40px;
}

.switch-content {
  position: absolute;
  top: 0;
  right: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 0 60px 60px 0;
  z-index: 1000;
}

.content.active .switch-content {
  transform: translateX(100%);
  border-radius: 60px 0 0 60px;
}

.switch {
  background-color: #261709;
  height: 100%;
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.content.active .switch {
  transform: translateX(50%);
}

.switch-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.switch-left {
  transform: translateX(-200%);
}

  .content.active .switch-left {
    transform: translateX(0);
  }
  
  .switch-right {
    right: 0;
    transform: translateX(0);
  }
  
  .content.active .switch-right {
    transform: translateX(200%);
  }